<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Protect .env and hidden files
    <FilesMatch "^\.">
        Require all denied
    </FilesMatch>

    # Protect artisan, composer.json, package.json
    <FilesMatch "^(artisan|composer\.json|package\.json|server\.php)$">
        Require all denied
    </FilesMatch>

    # Add security headers
    <IfModule mod_headers.c>
        Header set X-Content-Type-Options "nosniff"
        Header always append X-Frame-Options SAMEORIGIN

        # Extra headers added
        Header set X-XSS-Protection "1; mode=block"
        Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        Header set Content-Security-Policy "default-src 'self' https: 'unsafe-inline' 'unsafe-eval'; style-src 'self' https: 'unsafe-inline'; script-src 'self' https: 'unsafe-inline' 'unsafe-eval'; img-src 'self' data: https:; font-src 'self' data: https:; object-src 'none';"
    </IfModule>
</IfModule>

# Prevent PHP execution in storage/uploads (place this .htaccess inside storage/uploads)
<FilesMatch "\.(php|phtml|php5)$">
    Deny from all
</FilesMatch>
